name: ${PROJECT_NAME}

services:
  # 1. ฐานข้อมูล (Database)
  db-server:
    image: mysql:8.0
    container_name: ${MY_USERNAME}-db # ⚠️ เปลี่ยนกลับมาใช้ตัวแปร
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}      # ⚠️ เปลี่ยนมาใช้ตัวแปรจาก .env
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_pass
      MYSQL_USER: event_user
      MYSQL_PASSWORD_FILE: /run/secrets/db_user_pass
    networks:
      - backend-zone
    volumes:
      - db-storage:/var/lib/mysql
    secrets:
      - db_root_pass
      - db_user_pass

  # 2. ส่วนประมวลผล (Backend)
  backend-php:
    image: bitnami/php-fpm:latest 
    container_name: ${MY_USERNAME}-php # ⚠️ เปลี่ยนกลับมาใช้ตัวแปร
    restart: always
    volumes:
      - ./app:/var/www/html
    networks:
      - backend-zone
    secrets:
      - db_user_pass

  # 3. ส่วนรับงานหน้าบ้าน (Web Proxy)
  web-proxy:
    image: nginx:latest
    container_name: ${MY_USERNAME}-web # ⚠️ เปลี่ยนกลับมาใช้ตัวแปร
    restart: always
    ports:
      - "${HTTP_PORT}:80"
    volumes:
      - ./app:/var/www/html
    configs:
      - source: my-nginx-conf
        target: /etc/nginx/conf.d/default.conf
    networks:
      - frontend-zone
      - backend-zone
    depends_on:
      - backend-php

  # 4. ส่วนจัดการฐานข้อมูล (phpMyAdmin)
  db-management:
    image: phpmyadmin:latest
    container_name: ${MY_USERNAME}-pma # ⚠️ เปลี่ยนกลับมาใช้ตัวแปร
    restart: always
    environment:
      PMA_HOST: db-server
      PMA_PASSWORD_FILE: /run/secrets/db_root_pass
    ports:
      - "${PMA_PORT}:80"
    networks:
      - frontend-zone
      - backend-zone
    depends_on:
      - db-server
    secrets:
      - db_root_pass

# --------------------------------------------------
# ส่วนประกาศทรัพยากรส่วนกลาง
# --------------------------------------------------

networks:
  frontend-zone:
    driver: bridge
  backend-zone:
    driver: bridge

volumes:
  db-storage:

configs:
  my-nginx-conf:
    file: ./nginx/my-nginx.conf

secrets:
  db_root_pass:
    file: ./secret/.db_root_pass.txt
  db_user_pass:
    file: ./secret/.db_pass_pass.txt